* { font-family: Calibri, sans-serif; } 
body { width: 900px; margin: auto; }
h1 { 
    padding: 10px 10px 20px; 
    margin: 0; 
    font-weight: normal; 
    font-size: 3em; 
}
p { 
    font-family: Helvetica, Arial, Sans-Serif; 
    line-height: 1.6; 
    text-align: justify; 
    padding: 10px; 
}
footer { padding: 10px; background: #dfdfdf; text-align: center; }
form p { margin: 0; padding: 0; }
form input, form textarea { width: 300px; display: block; }
form button { margin: 10px 0; padding: 5px; width: 148px; }

.blackOverlay{
         color:black;
         display: block;
         position: absolute;
         top: 0%;
         left: 0%;
         width: 100%;
         height: 100%;
         background-color: black;
         z-index:1001;
         -moz-opacity: 0.8;
         opacity:.80;
         filter: alpha(opacity=80);
      }

.whiteContent {
         display: block;
         position: absolute;
         top: 25%;
         left: 25%;
         width: 50%;
         height: 50%;
         padding: 16px;
         border: 16px solid orange;
         background-color: white;
         z-index:1002;
         overflow: auto;
      }

 table {
         width:100%
      
      }

 table td {

       color:black;
       text-align:center;
       font-family: Helvetica, Arial, Sans-Serif; 
   	   padding: 10px; 
   	   bordeR:grey thin dotted;
    
      }

 .errorMessage {

		color:red;


 }
